script(src='/javascripts/sea-modules/sea.js')
script.
  seajs.config({
    base: '/javascripts/sea-modules/',
    alias: {
      'jquery': 'jquery',
      'hotkeys': 'jquery.hotkeys',
      'editor': 'jquery.editor'
    }
  });