- totle = 0
- data.tags.forEach(function(tag) {
-   totle += tag.length;
- });
.tag-list
  .title-block
    i.fa.fa-book
    h4 分类列表
  .line.all.on(data-action='selectTag')
    span.tag 所有笔记
    span.span= totle
  each tag in data.tags
    .line(data-action='selectTag')
      span.tag(data-tag=tag.name) #{tag.name || '(未指定分类)'}
      span.span= tag.length