@import "include/common";
@import "include/header";
@import "include/model";
@import "include/layout";
body {
  background-image: url(/images/pattern.png);
}
.show-publish-btn {
  display: none;
}
.note-edit-inner {
  width: 900px;
  margin: auto;
  .title-block {
    @extend %clearfix;
  }
  h1.title {
    font-weight: normal;
    float: left;
    margin: 10px 0;
  }
  .back {

  }
  .back, .edit {
    @include btn($btnblue);
    float: right;
    margin: 12px 0 12px 8px;
  }
  .warpper {
    @include border-radius(8px);
    padding: 10px 20px 0 20px;
    background-color: #fff;
    margin-bottom: 50px;
  }
  %text {
    text-indent: 36px;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: transparent;
  }
  .input-block {
    position: relative;
    .info {
      @include border-radius(4px);
      position: absolute;
      left: 0;
      top: 3px;
      background-color: $lightpurple;
      color: $white;
      padding: 1px 5px;
      margin: 7px 0;
    }
  }
  .input-block input[type="text"], .input-block div {
    @extend %text;
    @extend %box-sizing;
    border-bottom: 1px dashed #ccc;
    &.tag {
      border-bottom: none;
    }
  }
}
.editor-container {
  background-color: $white;
  .btn-group {
    display: inline-block;
    padding-left: 4px;
    border-left: 1px solid #eee;
    &:first-child {
      border-left: none;
    }
  }
  .url {
    outline: none;
    padding: 2px;
  }
  .btn {
    padding: 6px;
    width: 19px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    &:hover {
      background-color: #e5e5e5;
    }
    &.btn-info {
      background-color: $lightblue;
      color: $white;
    }
  }
  .editor {
    @include border-radius(4px);
    height: 300px;
    padding: 10px;
    overflow-y: auto;
    outline: none;
    border: 1px solid #eee;
    margin-top: 5px;
  }
  .show-box {
    @include border-radius(4px);
    height: 300px;
    padding: 10px;
    overflow-y: auto;
    outline: none;
    border: 1px solid #eee;
    margin-top: 5px;
  }
  .operation {
    @extend %clearfix;
    padding: 5px;
    .visible-block {
      display: inline-block;
      margin: 9px 0;
      .info {
        @include border-radius(4px);
        background-color: $lightpurple;
        color: $white;
        padding: 3px 5px;
        margin-right: 5px;
      }
      .member {
        padding: 2px 8px;
        margin-left: 4px;
        border: 1px solid #ccc;
        cursor: pointer;
        &:hover {
          background-color: #f3f4f5;
        }
        @include border-radius(4px);
      }
      .check {
        display: none;
        &:checked + .member {
          background-color: $lightblue;
          border-color: $lightblue;
          color: $white;
        }
      }
    }
    .create {
      @include btn($btngreen);
      float: right;
      padding: 7px 10px;
      display: inline-block;
    }
    .clear {
      @include btn($btnred);
      float: right;
      padding: 7px 10px;
      display: inline-block;
    }
  }
}