@import "include/common";
@import "include/header";
@import "include/model";
@import "include/layout";
body {
  background-image: url(/images/pattern.png);
}
.show-publish-btn {
  display: none;
}
.note-edit-inner {
  width: 900px;
  margin: auto;
  .title-block {
    @extend %clearfix;
  }
  h1.title {
    font-weight: normal;
    float: left;
    margin: 10px 0;
  }
  .back, .edit {
    @include btn($btnblue);
    float: right;
    margin: 12px 0 12px 8px;
  }
  .warpper {
    @include border-radius(8px);
    padding: 10px 20px 0 20px;
    background-color: #fff;
    margin-bottom: 50px;
  }
}
.note-description, .note-other {
  color: #999;
}
.note-title-block {
  @extend %clearfix;
  cursor: pointer;
}
.note-tag {
  float: left;
  @include border-radius(11px);
  background-color: $lightpurple;
  padding: 2px 10px;
  color: $white;
  margin: 5px 5px 5px 0;
  display: inline-block;
}
.note-title {
  float: left;
  font-size: 24px;
  margin: 0 0 10px 0;
}
.note-time {
  margin-left: 10px;
}
.editor-container {
  background-color: $white;
  .show-box {
    @include border-radius(4px);
    padding: 10px;
    background-color: #fcfcfc;
    margin-top: 10px;
  }
  .operation {
    @extend %clearfix;
    padding: 5px;
    .visible-block {
      display: inline-block;
      margin: 9px 0;
      .info {
        @include border-radius(4px);
        background-color: $lightpurple;
        color: $white;
        padding: 3px 5px;
        margin-right: 5px;
      }
      .member {
        padding: 2px 8px;
        margin-left: 4px;
        border: 1px solid $lightblue;
        color: $white;
        background-color: $lightblue;
        @include border-radius(4px);
      }
    }
    .create {
      @include btn($btngreen);
      float: right;
      padding: 7px 10px;
      display: inline-block;
    }
    .clear {
      @include btn($btnred);
      float: right;
      padding: 7px 10px;
      display: inline-block;
    }
  }
}