extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/commentDetail.css')

block content
  include includes/header
  .comment-inner
    table.layout
      tr
        td.left
          .inner
            include includes/comment_list_nav
        td.right
          .inner
            include includes/comment_detail_list

block scripts
  script.
    seajs.use('/javascripts/commentDetail.js');