extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  include includes/header
  .index-inner
    table.layout
      tr
        td.left
          .inner
            include includes/project_list_nav
        td.right
          .inner
            include includes/project_list

block scripts
  script.
    seajs.use('/javascripts/index.js');