p(style="color:#019c73;") 同学你好, 你的同学在teambuilder中邀请你加入他的小组
p(style="color:#aaa;") 点击以下链接或复制到地址栏打开表示你同意加入该组, 且你会退出原来的小组
a(style="color:#fff;background-color:rgb(91,150,210);padding:8px 16px;border-radius:8px", href=url, target="_blank")= url
p(style="color:#aaa;") 本邮件为自动生成，请勿回复