doctype html
html
  head
    title= title
    meta(charset='utf8')
    link(rel='short icon', href='/favicon.ico')
    link(rel='bookmark', href='/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    .cover