doctype html
html
  head
    title= title
    meta(charset='utf8')
    link(rel='short icon', href='/favicon.ico')
    block styles
      link(rel='stylesheet', href='/stylesheets/login.css')
  body
    block content
    .show-publish-btn 公告栏
    .cover
    .alert-box
      span.info-block
        span.info This is some alerting info
        span.close &times;
    include includes/sea
    script.
      seajs.use('/javascripts/global.js');
    block scripts