doctype html
html
  head
    title= title
    meta(charset='utf8')
    link(rel='short icon', href='/favicon.ico')
    link(rel='bookmark', href='/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    .cover
    .alert-box
      span.info-block
        span.info This is some alerting info
        span.close &times;
    script.
      seajs.use('/javascripts/global.js');