extends layout

block content
  .account-page
    .banner
      img.image(src="/images/topbanner.jpg")
      .title
        h1 teambuilder
        span 高效简单, 简化您的工作
    .form-unit
      form.form(method="post", action="/login")
        input.email(id="email", name="email", type="email", placeholder="邮箱")
        input.password(id="password", name="password", type="password", placeholder="密码")
        input.submit.login(type="submit", value="登录")
      .action-wrapper
        a.forget(href="/forget") 忘记密码?
        a.sign-up(href="/signup") 免费注册
  include includes/sea