extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/project.css')

block content
  include includes/header
  .project-inner
    table.layout
      tr
        td.left
          .inner
            include includes/project_list_description
        td.right
          .inner
            include includes/project_list_detail

block scripts
  script.
    seajs.use('/javascripts/project.js');