extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/task.css')

block content
  include includes/header
  .task-inner
    table.layout
      tr
        td.left
          .inner
            include includes/task_list_nav
        td.right
          .inner
            include includes/task_list

block scripts
  script.
    seajs.use('/javascripts/task.js');