body {
  margin: 0;
  padding: 0;
  font: 14px "Microsoft YaHei", "Lucida Grande", Helvetica, Arial, sans-serif;
  a {
    text-decoration: none;
  }
  button {
    margin: 0;
  }
}
.show-publish-btn {
  @include border-radius(6px 0 0 6px);
  @include transition(opacity, .3s);
  position: fixed;
  right: 0;
  top: 30%;
  color: $white;
  background-color: #666;
  width: 20px;
  height: 60px;
  padding: 5px 0px 5px 5px;
  cursor: pointer;
  opacity: .5;
  &:hover {
    opacity: 1;
  }
}
.alert-box {
  @include transition(top, .5s);
  z-index: 999;
  position: fixed;
  left: 0;
  right: 0;
  top: -55px;
  text-align: center;
  visibility: hidden;
  .info-block {
    @include border-radius(8px);
    box-shadow: 0 0 30px rgba(255,255,255,.5);
    display: inline-block;
    padding: 8px 8px 8px 16px;
    color: $white;
    background-color: #333;
    visibility: visible;
    .close {
      margin-left: 30px;
      float: right;
      cursor: pointer;
    }
  }
}
.title-wrapper {
  @extend %clearfix;
  padding: 20px;
  .title {
    display: inline;
    margin: 0;
    font-weight: normal;
  }
  button {
    .fa {
      font-size: 1.2em;
    }
    margin-left: 10px;
    float: right;
  }
}
.activity-label {
  color: #777;
  margin: 0 20px;
}
.activity-triangle-black {
  @include triangle(6px, 8px, "up", #ccc);
  left: 43px;
  bottom: 0;
}
.activity-triangle-white {
  @include triangle(6px, 8px, "up", #fff); 
  left: 43px;
  bottom: -2px;
}
.hr {
  margin: 15px 0;
  border: 0px;
  border-top: 1px solid #ccc;
}
.hide {
  display: none;
}