.header {
  .navbar {
    @include clearfix;
    display: block;
    background-color: rgb(47,67,92);
    > .left {
      float: left;
      color: #fff;
      padding: 15px;
      &:hover {
        background-color: rgb(39,56,77);
      }
      &.active {
        background-color: rgb(59,85,116);
      }
    }
    > .right {
      float: right;
      color: #ddd;
      padding: 15px;
      &:hover {
        color: #fff;
      }
    }
  }
  .title-block {
    @include clearfix;
    background-color: rgb(59,85,116);
    padding: 20px 25px 20px 20px;
    .title {
      margin: 0;
      padding: 5px 0;
      font-size: 22px;
      float: left;
      color: #fff;
    }
    .user-icon {
      margin: 0 15px;
      height: 39px;
      @include border-radius(4px);
      cursor: pointer;
    }
    .notification {
      font-size: 29px;
      color: #fff;
      cursor: pointer;
      margin-left: 10px;
    }
    .search-btn {
      color: #aaa;
      background-color: #fff;
      cursor: pointer;
      padding: 10px 10px 10px 12px;
      position: relative;
      top: 1px;
      @include border-radius(5px 0 0 5px);
    }
    .search {
      border-width: 0;
      outline-width: 0;
      margin: 0;
      padding: 12px 12px 12px 0;
      width: 230px;
      @include border-radius(0 5px 5px 0);
    }
    .right {
      float: right;
    }
  }
}