@mixin input($padding) {
  @include box-sizing;
  @include border-radius(4px);
  padding: $padding;
  outline: none;
  border: 1px solid #d9d9d9;
  @include transition(border-color, .3s);
  &:focus {
    border-color: #a6a6a6;
  }
}
.cover {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.3);
}
.model {
  width: 800px;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  label {
    cursor: pointer;
  }
  .model-wrapper {
    @include border-radius(8px);
    width: 800px;
    position: relative;
    left: 0;
    top: 0;
    background: #fff;
    .title-block {
      h2 {
        float: left;
        margin: 0;
      }
      .close {
        float: right;
        cursor: pointer;
        font-size: 21px;
      }
      @include clearfix;
      @include border-radius(8px 8px 0 0);
      @include background-image(linear-gradient(to bottom, #fff, #ddd));
      cursor: move;
      padding: 20px;
      border-bottom: 1px solid #ccc;
    }
    .hr {
      border: 1px dashed #ddd;
      margin-bottom: 0;
    }
    .footer {
      padding: 10px;
      .confirm, .cancel {
        padding: 5px;
        margin: 0 5px;
      }
      .confirm {
        @include btn($btngreen);
      }
      .cancel {
        @include btn($btnred);
      }
    }
    .add-project-inner {
      padding: 20px;
      input[type="text"] {
        @include input(9px);
      }
      .name {
        width: 100%;
      }
      textarea {
        @include input(9px);
        resize: vertical;
        width: 100%;
        height: 100px;
      }
    }
    .add-comment-list-inner {
      padding: 20px;
      .name {
        @include input(9px);
        width: 100%;
      }
      .description {
        @include input(9px);
        resize: vertical;
        width: 100%;
        height: 60px;
      }
    }
    .move-file-inner {
      padding: 20px;
      input[type=radio] {
        display: none;
        &:checked + .folder-name {
          background-color: $btnblue;
          color: $white;
          border: 1px solid $btnblue;
        }
      }
      .folder-name {
        @include border-radius(4px);
        padding: 5px 10px;
        border: 1px solid #ccc;
        &:hover {
          background-color: #f1f2f3;
        }
      }
    }
    .create-task-list-inner {
      padding: 20px;
      .name, .content {
        @include input(9px);
        width: 100%;
      }
      .date {
        @include input(9px);
        width: 30%;
      }
      .member {
        padding: 4px 8px;
        margin-right: 8px;
        border: 1px solid #ccc;
        &:hover {
          background-color: #f3f4f5;
        }
        @include border-radius(4px);
      }
      .check {
        display: none;
        &:checked + .member {
          background-color: $lightblue;
          border-color: $lightblue;
          color: $white;
        }
      }
    }
    .view-task-inner {
      padding: 20px;
      .description {
        @include border-radius(4px);
        padding: 12px;
        background-color: #eee;
      }
      hr {
        border-width: 0;
        padding: 5px 0;
        border-bottom: 1px solid #f1f2f3;
      }
      .name {
        @include border-radius(4px);
        background-color: #5A5A5A;
        padding: 4px 8px;
        color: white;
        margin-right: 5px;
      }
      .down-file {
        cursor: pointer;
        margin-right: 16px;
        color: $linkblue;
      }
    }
    .add-task-inner {
      padding: 20px;
      .name, .content {
        @include input(9px);
        width: 100%;
      }
      .member {
        padding: 4px 8px;
        margin-right: 8px;
        border: 1px solid #ccc;
        &:hover {
          background-color: #f3f4f5;
        }
        @include border-radius(4px);
      }
      .check {
        display: none;
        &:checked + .member {
          background-color: $lightblue;
          border-color: $lightblue;
          color: $white;
        }
      }
      #file {
        display: none;
      }
      textarea {
        @include input(9px);
        resize: vertical;
        width: 100%;
        height: 60px;
      }
      .file {
        display: inline-block;
        background-color: $lightblue;
        color: $white;
        padding: 7px 9px;
        @include border-radius(4px);
        &:hover {
          background-color: lighten($lightblue, 5%);
        }
      }
      .file-label {
        margin-bottom: 10px;
        color: #fff;
        display: inline-block;
        background: $labelpurple;
        padding: 2px 8px;
        border-radius: 4px;
        margin-right: 8px;
        .close-label {
          display: inline-block;
          cursor: pointer;
          margin-left: 10px;
        }
      }
    }
    .add-file-inner {
      padding: 20px;
      #file {
        display: none;
      }
      .file {
        display: inline-block;
        background-color: $lightblue;
        color: $white;
        padding: 7px 9px;
        @include border-radius(4px);
        &:hover {
          background-color: lighten($lightblue, 5%);
        }
      }
      .file-label {
        margin-bottom: 10px;
        color: #fff;
        display: inline-block;
        background: $labelpurple;
        padding: 2px 8px;
        border-radius: 4px;
        margin-right: 8px;
        .close-label {
          display: inline-block;
          cursor: pointer;
          margin-left: 10px;
        }
      }
    }
    .edit-task-inner {
      padding: 20px;
      .name, .content {
        @include input(9px);
        width: 100%;
      }
      .member {
        padding: 4px 8px;
        margin-right: 8px;
        border: 1px solid #ccc;
        &:hover {
          background-color: #f3f4f5;
        }
        @include border-radius(4px);
      }
      .check {
        display: none;
        &:checked + .member {
          background-color: $lightblue;
          border-color: $lightblue;
          color: $white;
        }
      }
      #file {
        display: none;
      }
      textarea {
        @include input(9px);
        resize: vertical;
        width: 100%;
        height: 60px;
      }
      .file {
        display: inline-block;
        background-color: $lightblue;
        color: $white;
        padding: 7px 9px;
        @include border-radius(4px);
        &:hover {
          background-color: lighten($lightblue, 5%);
        }
      }
      .file-label, .exist-file-label {
        margin-bottom: 10px;
        color: #fff;
        display: inline-block;
        background: $labelpurple;
        padding: 2px 8px;
        border-radius: 4px;
        margin-right: 8px;
        .down-file {
          color: $white;
        }
        .close-label, .del-file {
          display: inline-block;
          cursor: pointer;
          margin-left: 10px;
        }
      }
      .exist-file-label {
        margin-bottom: 0;
      }
    }
    .del-comment-list-inner,
    .remove-project-inner,
    .delete-file-inner,
    .remove-task-list-inner,
    .remove-task-inner {
      padding: 10px 20px;
    }
    .add-people-inner {
      padding: 10px 20px;
      .email {
        @include input(9px);
        width: 100%;
      }
    }
    .switch-project-inner {
      padding-top: 10px;
      .radio-box {
        padding: 10px 20px;
        label {
          margin-left: 8px;
        }
      }
    }
    .remove-people-inner {
      padding: 10px 20px;
      .name-block {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        input,
        label {
          order: 2;
        }
        input[type="checkbox"]:checked,
        input[type="checkbox"]:checked + label {
          order: 0 !important;
        }
        hr {
          display: none;
          order: 1;
          width: 100%;
          border: 1px solid #ccc;
        }
        input[type="checkbox"]:checked ~ hr {
          display: block;
        }
        input[type="checkbox"] {
          display: none;
        }
        label {
          min-width: 120px;
          border: 1px solid #ccc;
          padding: 6px 8px;
          text-align: center;
          margin: 0 5px 5px 0;
          background: #fff;
          color: #333;
          border-radius: 3px;
          @include box-sizing;
          &:hover {
            border-color: #adadad;
            background: #ebebeb;
            cursor: pointer;
          }
        }
        input[type="checkbox"]:checked + label {
          order: 0;
          background-color: #428bca;
          border-color: #357ebd;
          color: #fff;
          &:hover {
            background-color: darken(#428bca, 10%);
            border-color: #285e8e;
          }
        }
      }
    }
    .edit-profile-inner {
      padding: 20px;
      h4 {
        padding: 10px;
        background: #6FA9DA;
        color: white;
        border-radius: 8px;
        width: 50%;
        margin: 10px auto 0 auto;
      }
      table {
        width: 100%;
        input, select {
          @include input(8px);
          padding: 4px 8px;
          height: 30px;
        }
        label {
          font-size: 16px;
        }
        tr {
          td {
            padding: 4px 5px;
            &:first-child {
              text-align: right;
              width: 33%;
              &:after {
                content:': ';
              }
            }
            &:last-child {
              text-align: left;
              width: 50%;
            }
          }
        }
      }
    }
  }
}