.task-header {
  position: relative;
  .title-wrapper {
    @include clearfix;
    padding: 20px;
    .title {
      display: inline;
      margin: 0;
      font-weight: normal;
    }
    .create-task-list {
      .fa {
        font-size: 1.2em;
      }
      @include btn($btngreen);
      margin-left: 10px;
      float: right;
    }
  }
  .activity-label {
    cursor: pointer;
    color: #777;
    margin: 0 20px;
  }
  .activity-triangle-black {
    @include triangle(6px, 8px, "up", #ccc);
    @include transition(left, .3s);
    left: 43px;
    bottom: 0;
  }
  .activity-triangle-white {
    @include triangle(6px, 8px, "up", #fff); 
    @include transition(left, .3s);
    left: 43px;
    bottom: -2px;
  }
  .hr {
    margin: 15px 0;
    border: 0px;
    border-top: 1px solid #ccc;
  }
}
.task-list {
  padding: 20px;
  .task-title-block {
    &:hover {
      span {
        visibility: visible;
      }
    }
    span {
      color: $linkblue;
      cursor: pointer;
      visibility: hidden;
      margin-left: 8px;
      float: right;
    }
    .task-title {
      font-weight: bold;
      color: #000;
      &:hover {
        text-decoration: underline;
      }
    }
    .group-name {
      color: #666;
    }
    padding: 10px;
    @include border-radius(8px);
    background-color: rgb(236,236,236);
  }
  .detail {
    width: 100%;
    margin-bottom: 20px;
    tr {
      td {
        padding: 10px 0;
        border-bottom: 1px solid #eee;
      }
      .participant {
        color: #aaa;
        display: none;
      }
      .unself label {
        cursor: not-allowed;
      }
      .check {
        width: 10px;
        label {
          display: inline-block;
          width: 12px;
          height: 12px;
          font-size: 12px;
          color: $white;
          border: 1px solid #ccc;
        }
        input[type=checkbox] {
          display: none;
          &:checked + label {
            background-color: $checkboxblue;
            border: 1px solid $checkboxblue;
          }
        }
      }
      .first {
        width: 85px;
        text-align: center;
        color: #fff;
        padding: 8px 4px;
        &.unself span {
          background-color: $lightred;
        }
        &.self span {
          background-color: $lightgreen;
        }
        span {
          width: 100%;
          display: inline-block;
          @include border-radius(4px);
          padding: 2px;
        }
      }
      .second {
        padding: 8px 4px;
        .view {
          cursor: pointer;
          color: $linkblue;
          margin-right: 5px;
        }
        .fa {
          color: $iconblue;
          margin-right: 2px;
        }
      }
      .operation {
        @include border-radius(4px);
        padding: 4px 10px;
      }
      .third {
        color: #666;
        text-align: right;
        i {
          display: none;
          margin-left: 10px;
          cursor: pointer;
        }
      }
      .fourth {
        width: 90px;
        text-align: right;
      }
    }
    tr:hover {
      .fa, .participant {
        display: inline;
      }
    }
  }
}
.task-list-nav {
  padding: 20px;
  .line {
    @include clearfix;
  }
  h4 {
    display: inline-block;
    margin: 10px 5px;
  }
  a {
    float: left;
    display: block;
    padding: 5px 0;
    color: $linkblue;
    margin-left: 20px;
    &:hover {
      text-decoration: underline;
    }
  }
  span {
    float: right;
    margin: 5px 0;
    padding: 1px 7px;
    background-color: #666;
    display: inline-block;
    border-radius: 10px;
    font-size: 12px;
    width: 18px;
    color: white;
    text-align: center;
  }
}