.account-page {
  .joingroup-inner {
    @include border-radius(8px);
    width: 400px;
    padding: 20px;
    margin: 20px auto;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
  }
  .join-alert, .groupname, .joingroup {
    width: 444px !important;
  }
  .joingroup {
    @include transition(background-color ,.3s);
    background-color: rgb(66,139,202);
    cursor: pointer;
    color: $white;
    font-weight: bold;
    &:hover {
      background-color: rgb(48,113,169);
    }
  }
  .alert {
    @include clearfix;
    margin: 20px auto;
    padding: 8px 12px;
    border: 0;
    display: none;
    &.success {
      background: rgb(223,240,216);
    }
    &.error {
      background: rgb(249,242,244);
    }
    .close {
      float: right;
      cursor: pointer;
    }
  }
}