.task-header {
  position: relative;
  .title-wrapper {
    @include clearfix;
    padding: 20px;
    .title {
      display: inline;
      margin: 0;
      font-weight: normal;
    }
    .create-task-list {
      .fa {
        font-size: 1.2em;
      }
      @include btn($btngreen);
      margin-left: 10px;
      float: right;
    }
  }
  .activity-label {
    cursor: pointer;
    color: #777;
    margin: 0 20px;
  }
  .activity-triangle-black {
    @include triangle(6px, 8px, "up", #ccc);
    @include transition(left, .3s);
    left: 43px;
    bottom: 0;
  }
  .activity-triangle-white {
    @include triangle(6px, 8px, "up", #fff); 
    @include transition(left, .3s);
    left: 43px;
    bottom: -2px;
  }
  .hr {
    margin: 15px 0;
    border: 0px;
    border-top: 1px solid #ccc;
  }
}
.task-list {
  padding: 20px;
  .task-title-block {
    &:hover {
      span {
        visibility: visible;
      }
    }
    span {
      color: $linkblue;
      cursor: pointer;
      visibility: hidden;
      margin-left: 8px;
    }
    .task-title {
      font-weight: bold;
      color: #000;
      &:hover {
        text-decoration: underline;
      }
    }
    .group-name {
      color: #666;
    }
    padding: 10px;
    @include border-radius(8px);
    background-color: rgb(236,236,236);
  }
  .detail {
    width: 100%;
    margin-bottom: 20px;
    tr {
      td {
        padding: 10px 0;
        border-bottom: 1px solid #eee;
      }
      .first {
        width: 85px;
        text-align: center;
        color: #fff;
        padding: 8px 4px;
        span {
          background-color: $lightred;
          width: 100%;
          display: inline-block;
          @include border-radius(4px);
          padding: 2px;
        }
      }
      .second {
        padding: 8px 4px;
        a {
          color: $linkblue;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .third {
        text-align: right;
      }
    }
  }
}
.project-list-nav {
  padding: 20px;
  h4 {
    display: inline-block;
    margin: 10px 5px;
  }
  a {
    display: block;
    padding: 5px 0;
    color: $linkblue;
    margin-left: 20px;
    &:hover {
      text-decoration: underline;
    }
  }
}
.project-description-nav {
  padding: 20px 10px;
  h4 {
    display: inline-block;
    margin: 10px 5px;
  }
  .wall {
    padding: 10px;
    background-color: $white;
    border: 1px solid #aaa;
    @include border-radius(4px);
  }
}