$btngreen: rgb(67,200,111);
$white: #fff;
$lightgreen: rgb(124,215,156);
$lightpurple: rgb(175,164,223);
$lightred: rgb(241,154,146);
$btnred: darken($lightred, 10%);
$lightcyan: rgb(140,216,221);
$lightgreen: rgb(124,215,156);
$linkblue: rgb(0,97,188);