$black: #000;
$white: #fff;
$btngreen: rgb(67,200,111);
$btnblue: rgb(66,139,202);
$btnred: rgb(217,83,79);
$lightblue: rgb(140,193,248);
$lightgreen: rgb(124,215,156);
$lightpurple: rgb(175,164,223);
$lightred: rgb(241,154,146);
$btnred: darken($lightred, 10%);
$lightcyan: rgb(140,216,221);
$lightgreen: rgb(124,215,156);
$linkblue: rgb(0,97,188);
$icongreen: darken($lightgreen, 10%);
$iconblue: rgb(94,177,255);
$borderheader: rgb(102,118,134);