@import "compass/css3";

@mixin box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin transition($type, $time) {
  -webkit-transition: $type $time;
  -o-transition: $type $time;
  transition: $type $time;
}

body {
  margin: 0;
  padding: 0;
  font: 14px "Microsoft YaHei", "Lucida Grande", Helvetica, Arial, sans-serif;
  a {
    text-decoration: none;
  }
}

.account-page {
  > .banner {
    position: relative;
    > .image {
      width: 100%;
    }
    > .title {
      text-align: center;
      margin: auto;
      color: #fff;
      font-size: 30px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 20px;
      > h1 {
        margin-bottom: 0;
      }
    }
  }
  > .form-unit {
    margin: 20px auto;
    input {
      @include box-sizing;
      margin: 25px auto;
      display: block;
      padding: 12px;
      width: 300px;
      font-size: 14px;
      outline: none;
      border-radius: 8px;
      border: 1px solid #d9d9d9;
      &.email, &.username, &.password {
        @include transition(border-color ,.3s);
        &:focus {
          border-color: #a6a6a6;
        }
      }
      &.submit {
        @include transition(background-color ,.3s);
        background-color: rgb(66,139,202);
        font-weight: bold;
        color: #fff;
        margin-bottom: 10px;
        cursor: pointer;
        &:hover {
          background-color: rgb(48,113,169);
        }
      }
    }
    .action-wrapper {
      @include box-sizing;
      margin: auto;
      padding: 12px;
      width: 300px;
      font-size: 14px;
      .forget {
        color: #aaa;
        float: left;
      }
      .sign-up {
        color: #428bca;
        float: right;
      }
    }
  }
}