@charset "UTF-8";
.label {
  display: inline-block;
  background: #aaa;
  padding: 4px 8px;
  margin: 0;
  font-size: 14px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

@font-face {
  font-family: 'FontAwesome';
  src: url("/stylesheets/fontawesome/fonts/fontawesome-webfont.eot");
  src: url("/stylesheets/fontawesome/fonts/fontawesome-webfont.eot") format("embedded-opentype"), url("/stylesheets/fontawesome/fonts/fontawesome-webfont.woff") format("woff"), url("/stylesheets/fontawesome/fonts/fontawesome-webfont.ttf") format("truetype"), url("/stylesheets/fontawesome/fonts/fontawesome-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-fw {
  width: 1.28571em;
  text-align: center;
}

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714em;
}

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.fa.pull-left {
  margin-right: .3em;
}
.fa.pull-right {
  margin-left: .3em;
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none;
}

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.fa-stack-1x {
  line-height: inherit;
}

.fa-stack-2x {
  font-size: 2em;
}

.fa-inverse {
  color: #fff;
}

.fa-glass:before {
  content: "";
}

.fa-music:before {
  content: "";
}

.fa-search:before {
  content: "";
}

.fa-envelope-o:before {
  content: "";
}

.fa-heart:before {
  content: "";
}

.fa-star:before {
  content: "";
}

.fa-star-o:before {
  content: "";
}

.fa-user:before {
  content: "";
}

.fa-film:before {
  content: "";
}

.fa-th-large:before {
  content: "";
}

.fa-th:before {
  content: "";
}

.fa-th-list:before {
  content: "";
}

.fa-check:before {
  content: "";
}

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "";
}

.fa-search-plus:before {
  content: "";
}

.fa-search-minus:before {
  content: "";
}

.fa-power-off:before {
  content: "";
}

.fa-signal:before {
  content: "";
}

.fa-gear:before,
.fa-cog:before {
  content: "";
}

.fa-trash-o:before {
  content: "";
}

.fa-home:before {
  content: "";
}

.fa-file-o:before {
  content: "";
}

.fa-clock-o:before {
  content: "";
}

.fa-road:before {
  content: "";
}

.fa-download:before {
  content: "";
}

.fa-arrow-circle-o-down:before {
  content: "";
}

.fa-arrow-circle-o-up:before {
  content: "";
}

.fa-inbox:before {
  content: "";
}

.fa-play-circle-o:before {
  content: "";
}

.fa-rotate-right:before,
.fa-repeat:before {
  content: "";
}

.fa-refresh:before {
  content: "";
}

.fa-list-alt:before {
  content: "";
}

.fa-lock:before {
  content: "";
}

.fa-flag:before {
  content: "";
}

.fa-headphones:before {
  content: "";
}

.fa-volume-off:before {
  content: "";
}

.fa-volume-down:before {
  content: "";
}

.fa-volume-up:before {
  content: "";
}

.fa-qrcode:before {
  content: "";
}

.fa-barcode:before {
  content: "";
}

.fa-tag:before {
  content: "";
}

.fa-tags:before {
  content: "";
}

.fa-book:before {
  content: "";
}

.fa-bookmark:before {
  content: "";
}

.fa-print:before {
  content: "";
}

.fa-camera:before {
  content: "";
}

.fa-font:before {
  content: "";
}

.fa-bold:before {
  content: "";
}

.fa-italic:before {
  content: "";
}

.fa-text-height:before {
  content: "";
}

.fa-text-width:before {
  content: "";
}

.fa-align-left:before {
  content: "";
}

.fa-align-center:before {
  content: "";
}

.fa-align-right:before {
  content: "";
}

.fa-align-justify:before {
  content: "";
}

.fa-list:before {
  content: "";
}

.fa-dedent:before,
.fa-outdent:before {
  content: "";
}

.fa-indent:before {
  content: "";
}

.fa-video-camera:before {
  content: "";
}

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "";
}

.fa-pencil:before {
  content: "";
}

.fa-map-marker:before {
  content: "";
}

.fa-adjust:before {
  content: "";
}

.fa-tint:before {
  content: "";
}

.fa-edit:before,
.fa-pencil-square-o:before {
  content: "";
}

.fa-share-square-o:before {
  content: "";
}

.fa-check-square-o:before {
  content: "";
}

.fa-arrows:before {
  content: "";
}

.fa-step-backward:before {
  content: "";
}

.fa-fast-backward:before {
  content: "";
}

.fa-backward:before {
  content: "";
}

.fa-play:before {
  content: "";
}

.fa-pause:before {
  content: "";
}

.fa-stop:before {
  content: "";
}

.fa-forward:before {
  content: "";
}

.fa-fast-forward:before {
  content: "";
}

.fa-step-forward:before {
  content: "";
}

.fa-eject:before {
  content: "";
}

.fa-chevron-left:before {
  content: "";
}

.fa-chevron-right:before {
  content: "";
}

.fa-plus-circle:before {
  content: "";
}

.fa-minus-circle:before {
  content: "";
}

.fa-times-circle:before {
  content: "";
}

.fa-check-circle:before {
  content: "";
}

.fa-question-circle:before {
  content: "";
}

.fa-info-circle:before {
  content: "";
}

.fa-crosshairs:before {
  content: "";
}

.fa-times-circle-o:before {
  content: "";
}

.fa-check-circle-o:before {
  content: "";
}

.fa-ban:before {
  content: "";
}

.fa-arrow-left:before {
  content: "";
}

.fa-arrow-right:before {
  content: "";
}

.fa-arrow-up:before {
  content: "";
}

.fa-arrow-down:before {
  content: "";
}

.fa-mail-forward:before,
.fa-share:before {
  content: "";
}

.fa-expand:before {
  content: "";
}

.fa-compress:before {
  content: "";
}

.fa-plus:before {
  content: "";
}

.fa-minus:before {
  content: "";
}

.fa-asterisk:before {
  content: "";
}

.fa-exclamation-circle:before {
  content: "";
}

.fa-gift:before {
  content: "";
}

.fa-leaf:before {
  content: "";
}

.fa-fire:before {
  content: "";
}

.fa-eye:before {
  content: "";
}

.fa-eye-slash:before {
  content: "";
}

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "";
}

.fa-plane:before {
  content: "";
}

.fa-calendar:before {
  content: "";
}

.fa-random:before {
  content: "";
}

.fa-comment:before {
  content: "";
}

.fa-magnet:before {
  content: "";
}

.fa-chevron-up:before {
  content: "";
}

.fa-chevron-down:before {
  content: "";
}

.fa-retweet:before {
  content: "";
}

.fa-shopping-cart:before {
  content: "";
}

.fa-folder:before {
  content: "";
}

.fa-folder-open:before {
  content: "";
}

.fa-arrows-v:before {
  content: "";
}

.fa-arrows-h:before {
  content: "";
}

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "";
}

.fa-twitter-square:before {
  content: "";
}

.fa-facebook-square:before {
  content: "";
}

.fa-camera-retro:before {
  content: "";
}

.fa-key:before {
  content: "";
}

.fa-gears:before,
.fa-cogs:before {
  content: "";
}

.fa-comments:before {
  content: "";
}

.fa-thumbs-o-up:before {
  content: "";
}

.fa-thumbs-o-down:before {
  content: "";
}

.fa-star-half:before {
  content: "";
}

.fa-heart-o:before {
  content: "";
}

.fa-sign-out:before {
  content: "";
}

.fa-linkedin-square:before {
  content: "";
}

.fa-thumb-tack:before {
  content: "";
}

.fa-external-link:before {
  content: "";
}

.fa-sign-in:before {
  content: "";
}

.fa-trophy:before {
  content: "";
}

.fa-github-square:before {
  content: "";
}

.fa-upload:before {
  content: "";
}

.fa-lemon-o:before {
  content: "";
}

.fa-phone:before {
  content: "";
}

.fa-square-o:before {
  content: "";
}

.fa-bookmark-o:before {
  content: "";
}

.fa-phone-square:before {
  content: "";
}

.fa-twitter:before {
  content: "";
}

.fa-facebook:before {
  content: "";
}

.fa-github:before {
  content: "";
}

.fa-unlock:before {
  content: "";
}

.fa-credit-card:before {
  content: "";
}

.fa-rss:before {
  content: "";
}

.fa-hdd-o:before {
  content: "";
}

.fa-bullhorn:before {
  content: "";
}

.fa-bell:before {
  content: "";
}

.fa-certificate:before {
  content: "";
}

.fa-hand-o-right:before {
  content: "";
}

.fa-hand-o-left:before {
  content: "";
}

.fa-hand-o-up:before {
  content: "";
}

.fa-hand-o-down:before {
  content: "";
}

.fa-arrow-circle-left:before {
  content: "";
}

.fa-arrow-circle-right:before {
  content: "";
}

.fa-arrow-circle-up:before {
  content: "";
}

.fa-arrow-circle-down:before {
  content: "";
}

.fa-globe:before {
  content: "";
}

.fa-wrench:before {
  content: "";
}

.fa-tasks:before {
  content: "";
}

.fa-filter:before {
  content: "";
}

.fa-briefcase:before {
  content: "";
}

.fa-arrows-alt:before {
  content: "";
}

.fa-group:before,
.fa-users:before {
  content: "";
}

.fa-chain:before,
.fa-link:before {
  content: "";
}

.fa-cloud:before {
  content: "";
}

.fa-flask:before {
  content: "";
}

.fa-cut:before,
.fa-scissors:before {
  content: "";
}

.fa-copy:before,
.fa-files-o:before {
  content: "";
}

.fa-paperclip:before {
  content: "";
}

.fa-save:before,
.fa-floppy-o:before {
  content: "";
}

.fa-square:before {
  content: "";
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "";
}

.fa-list-ul:before {
  content: "";
}

.fa-list-ol:before {
  content: "";
}

.fa-strikethrough:before {
  content: "";
}

.fa-underline:before {
  content: "";
}

.fa-table:before {
  content: "";
}

.fa-magic:before {
  content: "";
}

.fa-truck:before {
  content: "";
}

.fa-pinterest:before {
  content: "";
}

.fa-pinterest-square:before {
  content: "";
}

.fa-google-plus-square:before {
  content: "";
}

.fa-google-plus:before {
  content: "";
}

.fa-money:before {
  content: "";
}

.fa-caret-down:before {
  content: "";
}

.fa-caret-up:before {
  content: "";
}

.fa-caret-left:before {
  content: "";
}

.fa-caret-right:before {
  content: "";
}

.fa-columns:before {
  content: "";
}

.fa-unsorted:before,
.fa-sort:before {
  content: "";
}

.fa-sort-down:before,
.fa-sort-desc:before {
  content: "";
}

.fa-sort-up:before,
.fa-sort-asc:before {
  content: "";
}

.fa-envelope:before {
  content: "";
}

.fa-linkedin:before {
  content: "";
}

.fa-rotate-left:before,
.fa-undo:before {
  content: "";
}

.fa-legal:before,
.fa-gavel:before {
  content: "";
}

.fa-dashboard:before,
.fa-tachometer:before {
  content: "";
}

.fa-comment-o:before {
  content: "";
}

.fa-comments-o:before {
  content: "";
}

.fa-flash:before,
.fa-bolt:before {
  content: "";
}

.fa-sitemap:before {
  content: "";
}

.fa-umbrella:before {
  content: "";
}

.fa-paste:before,
.fa-clipboard:before {
  content: "";
}

.fa-lightbulb-o:before {
  content: "";
}

.fa-exchange:before {
  content: "";
}

.fa-cloud-download:before {
  content: "";
}

.fa-cloud-upload:before {
  content: "";
}

.fa-user-md:before {
  content: "";
}

.fa-stethoscope:before {
  content: "";
}

.fa-suitcase:before {
  content: "";
}

.fa-bell-o:before {
  content: "";
}

.fa-coffee:before {
  content: "";
}

.fa-cutlery:before {
  content: "";
}

.fa-file-text-o:before {
  content: "";
}

.fa-building-o:before {
  content: "";
}

.fa-hospital-o:before {
  content: "";
}

.fa-ambulance:before {
  content: "";
}

.fa-medkit:before {
  content: "";
}

.fa-fighter-jet:before {
  content: "";
}

.fa-beer:before {
  content: "";
}

.fa-h-square:before {
  content: "";
}

.fa-plus-square:before {
  content: "";
}

.fa-angle-double-left:before {
  content: "";
}

.fa-angle-double-right:before {
  content: "";
}

.fa-angle-double-up:before {
  content: "";
}

.fa-angle-double-down:before {
  content: "";
}

.fa-angle-left:before {
  content: "";
}

.fa-angle-right:before {
  content: "";
}

.fa-angle-up:before {
  content: "";
}

.fa-angle-down:before {
  content: "";
}

.fa-desktop:before {
  content: "";
}

.fa-laptop:before {
  content: "";
}

.fa-tablet:before {
  content: "";
}

.fa-mobile-phone:before,
.fa-mobile:before {
  content: "";
}

.fa-circle-o:before {
  content: "";
}

.fa-quote-left:before {
  content: "";
}

.fa-quote-right:before {
  content: "";
}

.fa-spinner:before {
  content: "";
}

.fa-circle:before {
  content: "";
}

.fa-mail-reply:before,
.fa-reply:before {
  content: "";
}

.fa-github-alt:before {
  content: "";
}

.fa-folder-o:before {
  content: "";
}

.fa-folder-open-o:before {
  content: "";
}

.fa-smile-o:before {
  content: "";
}

.fa-frown-o:before {
  content: "";
}

.fa-meh-o:before {
  content: "";
}

.fa-gamepad:before {
  content: "";
}

.fa-keyboard-o:before {
  content: "";
}

.fa-flag-o:before {
  content: "";
}

.fa-flag-checkered:before {
  content: "";
}

.fa-terminal:before {
  content: "";
}

.fa-code:before {
  content: "";
}

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "";
}

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "";
}

.fa-location-arrow:before {
  content: "";
}

.fa-crop:before {
  content: "";
}

.fa-code-fork:before {
  content: "";
}

.fa-unlink:before,
.fa-chain-broken:before {
  content: "";
}

.fa-question:before {
  content: "";
}

.fa-info:before {
  content: "";
}

.fa-exclamation:before {
  content: "";
}

.fa-superscript:before {
  content: "";
}

.fa-subscript:before {
  content: "";
}

.fa-eraser:before {
  content: "";
}

.fa-puzzle-piece:before {
  content: "";
}

.fa-microphone:before {
  content: "";
}

.fa-microphone-slash:before {
  content: "";
}

.fa-shield:before {
  content: "";
}

.fa-calendar-o:before {
  content: "";
}

.fa-fire-extinguisher:before {
  content: "";
}

.fa-rocket:before {
  content: "";
}

.fa-maxcdn:before {
  content: "";
}

.fa-chevron-circle-left:before {
  content: "";
}

.fa-chevron-circle-right:before {
  content: "";
}

.fa-chevron-circle-up:before {
  content: "";
}

.fa-chevron-circle-down:before {
  content: "";
}

.fa-html5:before {
  content: "";
}

.fa-css3:before {
  content: "";
}

.fa-anchor:before {
  content: "";
}

.fa-unlock-alt:before {
  content: "";
}

.fa-bullseye:before {
  content: "";
}

.fa-ellipsis-h:before {
  content: "";
}

.fa-ellipsis-v:before {
  content: "";
}

.fa-rss-square:before {
  content: "";
}

.fa-play-circle:before {
  content: "";
}

.fa-ticket:before {
  content: "";
}

.fa-minus-square:before {
  content: "";
}

.fa-minus-square-o:before {
  content: "";
}

.fa-level-up:before {
  content: "";
}

.fa-level-down:before {
  content: "";
}

.fa-check-square:before {
  content: "";
}

.fa-pencil-square:before {
  content: "";
}

.fa-external-link-square:before {
  content: "";
}

.fa-share-square:before {
  content: "";
}

.fa-compass:before {
  content: "";
}

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "";
}

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "";
}

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "";
}

.fa-euro:before,
.fa-eur:before {
  content: "";
}

.fa-gbp:before {
  content: "";
}

.fa-dollar:before,
.fa-usd:before {
  content: "";
}

.fa-rupee:before,
.fa-inr:before {
  content: "";
}

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "";
}

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "";
}

.fa-won:before,
.fa-krw:before {
  content: "";
}

.fa-bitcoin:before,
.fa-btc:before {
  content: "";
}

.fa-file:before {
  content: "";
}

.fa-file-text:before {
  content: "";
}

.fa-sort-alpha-asc:before {
  content: "";
}

.fa-sort-alpha-desc:before {
  content: "";
}

.fa-sort-amount-asc:before {
  content: "";
}

.fa-sort-amount-desc:before {
  content: "";
}

.fa-sort-numeric-asc:before {
  content: "";
}

.fa-sort-numeric-desc:before {
  content: "";
}

.fa-thumbs-up:before {
  content: "";
}

.fa-thumbs-down:before {
  content: "";
}

.fa-youtube-square:before {
  content: "";
}

.fa-youtube:before {
  content: "";
}

.fa-xing:before {
  content: "";
}

.fa-xing-square:before {
  content: "";
}

.fa-youtube-play:before {
  content: "";
}

.fa-dropbox:before {
  content: "";
}

.fa-stack-overflow:before {
  content: "";
}

.fa-instagram:before {
  content: "";
}

.fa-flickr:before {
  content: "";
}

.fa-adn:before {
  content: "";
}

.fa-bitbucket:before {
  content: "";
}

.fa-bitbucket-square:before {
  content: "";
}

.fa-tumblr:before {
  content: "";
}

.fa-tumblr-square:before {
  content: "";
}

.fa-long-arrow-down:before {
  content: "";
}

.fa-long-arrow-up:before {
  content: "";
}

.fa-long-arrow-left:before {
  content: "";
}

.fa-long-arrow-right:before {
  content: "";
}

.fa-apple:before {
  content: "";
}

.fa-windows:before {
  content: "";
}

.fa-android:before {
  content: "";
}

.fa-linux:before {
  content: "";
}

.fa-dribbble:before {
  content: "";
}

.fa-skype:before {
  content: "";
}

.fa-foursquare:before {
  content: "";
}

.fa-trello:before {
  content: "";
}

.fa-female:before {
  content: "";
}

.fa-male:before {
  content: "";
}

.fa-gittip:before {
  content: "";
}

.fa-sun-o:before {
  content: "";
}

.fa-moon-o:before {
  content: "";
}

.fa-archive:before {
  content: "";
}

.fa-bug:before {
  content: "";
}

.fa-vk:before {
  content: "";
}

.fa-weibo:before {
  content: "";
}

.fa-renren:before {
  content: "";
}

.fa-pagelines:before {
  content: "";
}

.fa-stack-exchange:before {
  content: "";
}

.fa-arrow-circle-o-right:before {
  content: "";
}

.fa-arrow-circle-o-left:before {
  content: "";
}

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "";
}

.fa-dot-circle-o:before {
  content: "";
}

.fa-wheelchair:before {
  content: "";
}

.fa-vimeo-square:before {
  content: "";
}

.fa-turkish-lira:before,
.fa-try:before {
  content: "";
}

.fa-plus-square-o:before {
  content: "";
}

.fa-space-shuttle:before {
  content: "";
}

.fa-slack:before {
  content: "";
}

.fa-envelope-square:before {
  content: "";
}

.fa-wordpress:before {
  content: "";
}

.fa-openid:before {
  content: "";
}

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "";
}

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "";
}

.fa-yahoo:before {
  content: "";
}

.fa-google:before {
  content: "";
}

.fa-reddit:before {
  content: "";
}

.fa-reddit-square:before {
  content: "";
}

.fa-stumbleupon-circle:before {
  content: "";
}

.fa-stumbleupon:before {
  content: "";
}

.fa-delicious:before {
  content: "";
}

.fa-digg:before {
  content: "";
}

.fa-pied-piper:before {
  content: "";
}

.fa-pied-piper-alt:before {
  content: "";
}

.fa-drupal:before {
  content: "";
}

.fa-joomla:before {
  content: "";
}

.fa-language:before {
  content: "";
}

.fa-fax:before {
  content: "";
}

.fa-building:before {
  content: "";
}

.fa-child:before {
  content: "";
}

.fa-paw:before {
  content: "";
}

.fa-spoon:before {
  content: "";
}

.fa-cube:before {
  content: "";
}

.fa-cubes:before {
  content: "";
}

.fa-behance:before {
  content: "";
}

.fa-behance-square:before {
  content: "";
}

.fa-steam:before {
  content: "";
}

.fa-steam-square:before {
  content: "";
}

.fa-recycle:before {
  content: "";
}

.fa-automobile:before,
.fa-car:before {
  content: "";
}

.fa-cab:before,
.fa-taxi:before {
  content: "";
}

.fa-tree:before {
  content: "";
}

.fa-spotify:before {
  content: "";
}

.fa-deviantart:before {
  content: "";
}

.fa-soundcloud:before {
  content: "";
}

.fa-database:before {
  content: "";
}

.fa-file-pdf-o:before {
  content: "";
}

.fa-file-word-o:before {
  content: "";
}

.fa-file-excel-o:before {
  content: "";
}

.fa-file-powerpoint-o:before {
  content: "";
}

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "";
}

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "";
}

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "";
}

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "";
}

.fa-file-code-o:before {
  content: "";
}

.fa-vine:before {
  content: "";
}

.fa-codepen:before {
  content: "";
}

.fa-jsfiddle:before {
  content: "";
}

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "";
}

.fa-circle-o-notch:before {
  content: "";
}

.fa-ra:before,
.fa-rebel:before {
  content: "";
}

.fa-ge:before,
.fa-empire:before {
  content: "";
}

.fa-git-square:before {
  content: "";
}

.fa-git:before {
  content: "";
}

.fa-hacker-news:before {
  content: "";
}

.fa-tencent-weibo:before {
  content: "";
}

.fa-qq:before {
  content: "";
}

.fa-wechat:before,
.fa-weixin:before {
  content: "";
}

.fa-send:before,
.fa-paper-plane:before {
  content: "";
}

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "";
}

.fa-history:before {
  content: "";
}

.fa-circle-thin:before {
  content: "";
}

.fa-header:before {
  content: "";
}

.fa-paragraph:before {
  content: "";
}

.fa-sliders:before {
  content: "";
}

.fa-share-alt:before {
  content: "";
}

.fa-share-alt-square:before {
  content: "";
}

.fa-bomb:before {
  content: "";
}

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "";
}

.fa-tty:before {
  content: "";
}

.fa-binoculars:before {
  content: "";
}

.fa-plug:before {
  content: "";
}

.fa-slideshare:before {
  content: "";
}

.fa-twitch:before {
  content: "";
}

.fa-yelp:before {
  content: "";
}

.fa-newspaper-o:before {
  content: "";
}

.fa-wifi:before {
  content: "";
}

.fa-calculator:before {
  content: "";
}

.fa-paypal:before {
  content: "";
}

.fa-google-wallet:before {
  content: "";
}

.fa-cc-visa:before {
  content: "";
}

.fa-cc-mastercard:before {
  content: "";
}

.fa-cc-discover:before {
  content: "";
}

.fa-cc-amex:before {
  content: "";
}

.fa-cc-paypal:before {
  content: "";
}

.fa-cc-stripe:before {
  content: "";
}

.fa-bell-slash:before {
  content: "";
}

.fa-bell-slash-o:before {
  content: "";
}

.fa-trash:before {
  content: "";
}

.fa-copyright:before {
  content: "";
}

.fa-at:before {
  content: "";
}

.fa-eyedropper:before {
  content: "";
}

.fa-paint-brush:before {
  content: "";
}

.fa-birthday-cake:before {
  content: "";
}

.fa-area-chart:before {
  content: "";
}

.fa-pie-chart:before {
  content: "";
}

.fa-line-chart:before {
  content: "";
}

.fa-lastfm:before {
  content: "";
}

.fa-lastfm-square:before {
  content: "";
}

.fa-toggle-off:before {
  content: "";
}

.fa-toggle-on:before {
  content: "";
}

.fa-bicycle:before {
  content: "";
}

.fa-bus:before {
  content: "";
}

.fa-ioxhost:before {
  content: "";
}

.fa-angellist:before {
  content: "";
}

.fa-cc:before {
  content: "";
}

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "";
}

.fa-meanpath:before {
  content: "";
}

.datepicker {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.48);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.48);
  position: absolute;
  background-color: #fff;
  border: 2px solid #a3a3a3;
  width: 226px;
  height: 226px;
}
.datepicker .title {
  *zoom: 1;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px;
  border-radius: 8px 8px 0 0;
  padding: 8px 8px 2px 8px;
  border-bottom: 1px solid #d2d2d2;
  text-align: center;
  background-color: #f5f5f5;
  font-weight: bold;
}
.datepicker .title .left, .datepicker .title .right {
  font-size: 20px;
  color: #aaa;
  cursor: pointer;
  position: relative;
}
.datepicker .title .left.left, .datepicker .title .right.left {
  float: left;
  left: 16px;
}
.datepicker .title .left.right, .datepicker .title .right.right {
  float: right;
  right: 16px;
}
.datepicker .title .left:hover, .datepicker .title .right:hover {
  color: #c3c3c3;
}
.datepicker .title .head {
  color: #ccc;
}
.datepicker .title .head table {
  width: 100%;
}
.datepicker .title:before, .datepicker .title:after {
  display: table;
  content: " ";
}
.datepicker .title:after {
  clear: both;
}
.datepicker .white {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  display: inline-block;
  position: absolute;
  border-top: 12px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 12px solid #f5f5f5;
  left: 104px;
  top: -24px;
}
.datepicker .black {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  display: inline-block;
  position: absolute;
  border-top: 12px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 12px solid #a3a3a3;
  left: 104px;
  top: -26px;
}

body {
  margin: 0;
  padding: 0;
  font: 14px "Microsoft YaHei", "Lucida Grande", Helvetica, Arial, sans-serif;
}
body a {
  text-decoration: none;
}
body button {
  margin: 0;
}

.alert-box {
  -webkit-transition: top 0.5s;
  -o-transition: top 0.5s;
  transition: top 0.5s;
  z-index: 999;
  position: fixed;
  left: 0;
  right: 0;
  top: -55px;
  text-align: center;
  visibility: hidden;
}
.alert-box .info-block {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
  display: inline-block;
  padding: 8px 8px 8px 16px;
  color: #fff;
  background-color: #333;
  visibility: visible;
}
.alert-box .info-block .close {
  margin-left: 30px;
  float: right;
  cursor: pointer;
}

.header .navbar {
  *zoom: 1;
  display: block;
  background-color: #2f435c;
}
.header .navbar:before, .header .navbar:after {
  display: table;
  content: " ";
}
.header .navbar:after {
  clear: both;
}
.header .navbar > .left {
  float: left;
  color: #fff;
  padding: 15px;
}
.header .navbar > .left:hover {
  background-color: #27384d;
}
.header .navbar > .left.active {
  background-color: #3b5574;
}
.header .navbar > .right {
  float: right;
  color: #ddd;
  padding: 15px;
}
.header .navbar > .right:hover {
  color: #fff;
}
.header .title-block {
  *zoom: 1;
  background-color: #3b5574;
  padding: 20px 25px 20px 20px;
}
.header .title-block:before, .header .title-block:after {
  display: table;
  content: " ";
}
.header .title-block:after {
  clear: both;
}
.header .title-block .title {
  margin: 0;
  padding: 5px 0;
  font-size: 22px;
  float: left;
  color: #fff;
}
.header .title-block .user-icon {
  margin: 0 15px;
  height: 39px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}
.header .title-block .notification {
  font-size: 29px;
  color: #fff;
  cursor: pointer;
}
.header .title-block .search-btn {
  color: #aaa;
  background-color: #fff;
  cursor: pointer;
  padding: 10px 10px 10px 12px;
  position: relative;
  top: 1px;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px 0 0 5px;
}
.header .title-block .search {
  border-width: 0;
  outline-width: 0;
  margin: 0;
  padding: 12px 12px 12px 0;
  width: 230px;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0;
  border-radius: 0 5px 5px 0;
}
.header .title-block .right {
  float: right;
}

.account-page > .banner {
  position: relative;
}
.account-page > .banner > .image {
  width: 100%;
}
.account-page > .banner > .title {
  text-align: center;
  margin: auto;
  color: #fff;
  font-size: 30px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
}
.account-page > .banner > .title > h1 {
  margin-bottom: 0;
}
.account-page > .form-unit {
  margin: 20px auto;
}
.account-page > .form-unit input, .account-page > .form-unit .alert {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 25px auto;
  display: block;
  padding: 12px;
  width: 300px;
  font-size: 14px;
  outline: none;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
}
.account-page > .form-unit input.email, .account-page > .form-unit input.username, .account-page > .form-unit input.password, .account-page > .form-unit .alert.email, .account-page > .form-unit .alert.username, .account-page > .form-unit .alert.password {
  -webkit-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.account-page > .form-unit input.email:focus, .account-page > .form-unit input.username:focus, .account-page > .form-unit input.password:focus, .account-page > .form-unit .alert.email:focus, .account-page > .form-unit .alert.username:focus, .account-page > .form-unit .alert.password:focus {
  border-color: #a6a6a6;
}
.account-page > .form-unit input.alert, .account-page > .form-unit .alert.alert {
  margin: 20px auto;
  padding: 8px 12px;
  border: 0;
  display: none;
}
.account-page > .form-unit input.alert.success, .account-page > .form-unit .alert.alert.success {
  background: #dff0d8;
}
.account-page > .form-unit input.alert.error, .account-page > .form-unit .alert.alert.error {
  background: #f9f2f4;
}
.account-page > .form-unit input.alert .close, .account-page > .form-unit .alert.alert .close {
  float: right;
  cursor: pointer;
  *zoom: 1;
}
.account-page > .form-unit input.alert .close:before, .account-page > .form-unit input.alert .close:after, .account-page > .form-unit .alert.alert .close:before, .account-page > .form-unit .alert.alert .close:after {
  display: table;
  content: " ";
}
.account-page > .form-unit input.alert .close:after, .account-page > .form-unit .alert.alert .close:after {
  clear: both;
}
.account-page > .form-unit input.submit, .account-page > .form-unit .alert.submit {
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}
.account-page > .form-unit input.submit.register, .account-page > .form-unit input.submit.sendagain, .account-page > .form-unit input.submit.login, .account-page > .form-unit input.submit.vertify, .account-page > .form-unit .alert.submit.register, .account-page > .form-unit .alert.submit.sendagain, .account-page > .form-unit .alert.submit.login, .account-page > .form-unit .alert.submit.vertify {
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  background-color: #428bca;
  cursor: pointer;
}
.account-page > .form-unit input.submit.register:hover, .account-page > .form-unit input.submit.sendagain:hover, .account-page > .form-unit input.submit.login:hover, .account-page > .form-unit input.submit.vertify:hover, .account-page > .form-unit .alert.submit.register:hover, .account-page > .form-unit .alert.submit.sendagain:hover, .account-page > .form-unit .alert.submit.login:hover, .account-page > .form-unit .alert.submit.vertify:hover {
  background-color: #3071a9;
}
.account-page > .form-unit input.submit.disabled, .account-page > .form-unit .alert.submit.disabled {
  background-color: #84b4dc;
}
.account-page > .form-unit .action-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: auto;
  padding: 12px;
  width: 300px;
  font-size: 14px;
}
.account-page > .form-unit .action-wrapper .forget {
  color: #aaa;
  float: left;
}
.account-page > .form-unit .action-wrapper .sign-up {
  color: #428bca;
  float: right;
}

.index.main .layout {
  min-height: 800px;
  width: 100%;
  border-spacing: 0;
}
.index.main .layout .left {
  vertical-align: top;
  width: 250px;
  background-color: #f1f1f1;
  border-right: 1px solid #b9babc;
}
.index.main .layout .right {
  vertical-align: top;
}

.project-header {
  position: relative;
}
.project-header .title-wrapper {
  *zoom: 1;
  padding: 20px;
}
.project-header .title-wrapper:before, .project-header .title-wrapper:after {
  display: table;
  content: " ";
}
.project-header .title-wrapper:after {
  clear: both;
}
.project-header .title-wrapper .title {
  display: inline;
  margin: 0;
  font-weight: normal;
}
.project-header .title-wrapper .add-project, .project-header .title-wrapper .add-to-project {
  cursor: pointer;
  outline-width: 0;
  border-width: 0;
  padding: 9px;
  margin: 5px;
  color: #fff;
  background-color: #43c86f;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-left: 10px;
  float: right;
}
.project-header .title-wrapper .add-project .fa, .project-header .title-wrapper .add-to-project .fa {
  font-size: 1.2em;
}
.project-header .title-wrapper .add-project:hover, .project-header .title-wrapper .add-to-project:hover {
  background-color: #37bb62;
}
.project-header .title-wrapper .edit-project {
  cursor: pointer;
  outline-width: 0;
  border-width: 0;
  padding: 9px;
  margin: 5px;
  color: #fff;
  background-color: #428bca;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  float: right;
}
.project-header .title-wrapper .edit-project .fa {
  font-size: 1.2em;
}
.project-header .title-wrapper .edit-project:hover {
  background-color: #357ebd;
}
.project-header .title-wrapper .remove-project {
  cursor: pointer;
  outline-width: 0;
  border-width: 0;
  padding: 9px;
  margin: 5px;
  color: #fff;
  background-color: #eb7065;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  float: right;
}
.project-header .title-wrapper .remove-project .fa {
  font-size: 1.2em;
}
.project-header .title-wrapper .remove-project:hover {
  background-color: #e85b4e;
}
.project-header .activity-label {
  color: #777;
  margin: 0 20px;
}
.project-header .activity-triangle-black {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  display: inline-block;
  position: absolute;
  border-top: 8px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 6px solid transparent;
  border-bottom: 8px solid #ccc;
  left: 43px;
  bottom: 0;
}
.project-header .activity-triangle-white {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  display: inline-block;
  position: absolute;
  border-top: 8px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 6px solid transparent;
  border-bottom: 8px solid #fff;
  left: 43px;
  bottom: -2px;
}
.project-header .hr {
  margin: 15px 0;
  border: 0px;
  border-top: 1px solid #ccc;
}

.project-list {
  padding: 20px;
}
.project-list .project-title-block {
  padding: 15px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #ececec;
}
.project-list .project-title-block .project-title {
  font-weight: bold;
  color: #000;
}
.project-list .project-title-block .project-title:hover {
  text-decoration: underline;
}
.project-list .project-title-block .group-name {
  color: #666;
}
.project-list .project-activity {
  width: 100%;
  margin-bottom: 20px;
}
.project-list .project-activity tr td {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
.project-list .project-activity tr .first {
  width: 85px;
  text-align: center;
  color: #fff;
  padding: 8px 4px;
}
.project-list .project-activity tr .first span {
  width: 100%;
  display: inline-block;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 2px;
}
.project-list .project-activity tr .first .comment {
  background-color: #afa4df;
}
.project-list .project-activity tr .first .task {
  background-color: #8cc1f8;
}
.project-list .project-activity tr .first .detail {
  background-color: #f19a92;
}
.project-list .project-activity tr .first .file {
  background-color: #8cd8dd;
}
.project-list .project-activity tr .first .project {
  background-color: #7cd79c;
}
.project-list .project-activity tr .second {
  padding: 8px 4px;
}
.project-list .project-activity tr .second a {
  color: #0061bc;
}
.project-list .project-activity tr .second a:hover {
  text-decoration: underline;
}
.project-list .project-activity tr .third {
  padding: 8px 4px;
  text-align: right;
  color: #999;
}
.project-list .project-activity tr .third a {
  color: #0061bc;
}
.project-list .project-activity tr .fourth {
  width: 100px;
  padding: 8px 4px;
  text-align: right;
  color: #999;
}

.project-list-nav {
  padding: 20px;
}
.project-list-nav h4 {
  display: inline-block;
  margin: 10px 5px;
}
.project-list-nav a {
  display: block;
  padding: 5px 0;
  color: #0061bc;
  margin-left: 20px;
}
.project-list-nav a:hover {
  text-decoration: underline;
}

.project-description-nav {
  padding: 20px 10px;
}
.project-description-nav h4 {
  display: inline-block;
  margin: 10px 5px;
}
.project-description-nav .wall {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #aaa;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.task-header {
  position: relative;
}
.task-header .title-wrapper {
  *zoom: 1;
  padding: 20px;
}
.task-header .title-wrapper:before, .task-header .title-wrapper:after {
  display: table;
  content: " ";
}
.task-header .title-wrapper:after {
  clear: both;
}
.task-header .title-wrapper .title {
  display: inline;
  margin: 0;
  font-weight: normal;
}
.task-header .title-wrapper .create-task-list {
  cursor: pointer;
  outline-width: 0;
  border-width: 0;
  padding: 9px;
  margin: 5px;
  color: #fff;
  background-color: #43c86f;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-left: 10px;
  float: right;
}
.task-header .title-wrapper .create-task-list .fa {
  font-size: 1.2em;
}
.task-header .title-wrapper .create-task-list:hover {
  background-color: #37bb62;
}
.task-header .activity-label {
  color: #777;
  margin: 0 20px;
}
.task-header .activity-triangle-black {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  display: inline-block;
  position: absolute;
  border-top: 8px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 6px solid transparent;
  border-bottom: 8px solid #ccc;
  left: 43px;
  bottom: 0;
}
.task-header .activity-triangle-white {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  display: inline-block;
  position: absolute;
  border-top: 8px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 6px solid transparent;
  border-bottom: 8px solid #fff;
  left: 43px;
  bottom: -2px;
}
.task-header .hr {
  margin: 15px 0;
  border: 0px;
  border-top: 1px solid #ccc;
}

.task-list {
  padding: 20px;
}
.task-list .task-title-block {
  padding: 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #ececec;
}
.task-list .task-title-block:hover span {
  visibility: visible;
}
.task-list .task-title-block span {
  color: #0061bc;
  cursor: pointer;
  visibility: hidden;
}
.task-list .task-title-block span.edit {
  margin: 0 8px;
}
.task-list .task-title-block .task-title {
  font-weight: bold;
  color: #000;
}
.task-list .task-title-block .task-title:hover {
  text-decoration: underline;
}
.task-list .task-title-block .group-name {
  color: #666;
}
.task-list .detail {
  width: 100%;
  margin-bottom: 20px;
}
.task-list .detail tr td {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
.task-list .detail tr .first {
  width: 85px;
  text-align: center;
  color: #fff;
  padding: 8px 4px;
}
.task-list .detail tr .first span {
  background-color: #f19a92;
  width: 100%;
  display: inline-block;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 2px;
}
.task-list .detail tr .second {
  padding: 8px 4px;
}
.task-list .detail tr .second a {
  color: #0061bc;
}
.task-list .detail tr .second a:hover {
  text-decoration: underline;
}
.task-list .detail tr .third {
  text-align: right;
}

.project-list-nav {
  padding: 20px;
}
.project-list-nav h4 {
  display: inline-block;
  margin: 10px 5px;
}
.project-list-nav a {
  display: block;
  padding: 5px 0;
  color: #0061bc;
  margin-left: 20px;
}
.project-list-nav a:hover {
  text-decoration: underline;
}

.project-description-nav {
  padding: 20px 10px;
}
.project-description-nav h4 {
  display: inline-block;
  margin: 10px 5px;
}
.project-description-nav .wall {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #aaa;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.cover {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.model {
  width: 800px;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
}
.model label {
  cursor: pointer;
}
.model .model-wrapper {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  width: 800px;
  position: relative;
  left: 0;
  top: 0;
  background: #fff;
}
.model .model-wrapper .title-block {
  *zoom: 1;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px;
  border-radius: 8px 8px 0 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -moz-linear-gradient(top, #ffffff, #dddddd);
  background-image: -webkit-linear-gradient(top, #ffffff, #dddddd);
  background-image: linear-gradient(to bottom, #ffffff, #dddddd);
  cursor: move;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}
.model .model-wrapper .title-block h2 {
  float: left;
  margin: 0;
}
.model .model-wrapper .title-block .close {
  float: right;
  cursor: pointer;
  font-size: 21px;
}
.model .model-wrapper .title-block:before, .model .model-wrapper .title-block:after {
  display: table;
  content: " ";
}
.model .model-wrapper .title-block:after {
  clear: both;
}
.model .model-wrapper .hr {
  border: 1px dashed #ddd;
  margin-bottom: 0;
}
.model .model-wrapper .footer {
  padding: 10px;
}
.model .model-wrapper .footer .confirm, .model .model-wrapper .footer .cancel {
  padding: 5px;
  margin: 0 5px;
}
.model .model-wrapper .footer .confirm {
  cursor: pointer;
  outline-width: 0;
  border-width: 0;
  padding: 9px;
  margin: 5px;
  color: #fff;
  background-color: #43c86f;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.model .model-wrapper .footer .confirm:hover {
  background-color: #37bb62;
}
.model .model-wrapper .footer .cancel {
  cursor: pointer;
  outline-width: 0;
  border-width: 0;
  padding: 9px;
  margin: 5px;
  color: #fff;
  background-color: #eb7065;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.model .model-wrapper .footer .cancel:hover {
  background-color: #e85b4e;
}
.model .model-wrapper .add-project-inner {
  padding: 20px;
}
.model .model-wrapper .add-project-inner input[type="text"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 9px;
  outline: none;
  border: 1px solid #d9d9d9;
  -webkit-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.model .model-wrapper .add-project-inner input[type="text"]:focus {
  border-color: #a6a6a6;
}
.model .model-wrapper .add-project-inner .name {
  width: 100%;
}
.model .model-wrapper .add-project-inner textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 9px;
  outline: none;
  border: 1px solid #d9d9d9;
  -webkit-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  transition: border-color 0.3s;
  resize: vertical;
  width: 100%;
  height: 100px;
}
.model .model-wrapper .add-project-inner textarea:focus {
  border-color: #a6a6a6;
}
.model .model-wrapper .create-task-list-inner {
  padding: 20px;
}
.model .model-wrapper .create-task-list-inner .name {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 9px;
  outline: none;
  border: 1px solid #d9d9d9;
  -webkit-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  transition: border-color 0.3s;
  width: 100%;
}
.model .model-wrapper .create-task-list-inner .name:focus {
  border-color: #a6a6a6;
}
.model .model-wrapper .create-task-list-inner .date {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 9px;
  outline: none;
  border: 1px solid #d9d9d9;
  -webkit-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  transition: border-color 0.3s;
  width: 30%;
}
.model .model-wrapper .create-task-list-inner .date:focus {
  border-color: #a6a6a6;
}
.model .model-wrapper .remove-project-inner {
  padding: 10px 20px;
}
.model .model-wrapper .add-people-inner {
  padding: 10px 20px;
}
.model .model-wrapper .add-people-inner .email {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 9px;
  outline: none;
  border: 1px solid #d9d9d9;
  -webkit-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  transition: border-color 0.3s;
  width: 100%;
}
.model .model-wrapper .add-people-inner .email:focus {
  border-color: #a6a6a6;
}
.model .model-wrapper .switch-project-inner {
  padding-top: 10px;
}
.model .model-wrapper .switch-project-inner .radio-box {
  padding: 10px 20px;
}
.model .model-wrapper .switch-project-inner .radio-box label {
  margin-left: 8px;
}
.model .model-wrapper .remove-people-inner {
  padding: 10px 20px;
}
.model .model-wrapper .remove-people-inner .name-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.model .model-wrapper .remove-people-inner .name-block input,
.model .model-wrapper .remove-people-inner .name-block label {
  order: 2;
}
.model .model-wrapper .remove-people-inner .name-block input[type="checkbox"]:checked,
.model .model-wrapper .remove-people-inner .name-block input[type="checkbox"]:checked + label {
  order: 0 !important;
}
.model .model-wrapper .remove-people-inner .name-block hr {
  display: none;
  order: 1;
  width: 100%;
  border: 1px solid #ccc;
}
.model .model-wrapper .remove-people-inner .name-block input[type="checkbox"]:checked ~ hr {
  display: block;
}
.model .model-wrapper .remove-people-inner .name-block input[type="checkbox"] {
  display: none;
}
.model .model-wrapper .remove-people-inner .name-block label {
  min-width: 120px;
  border: 1px solid #ccc;
  padding: 6px 8px;
  text-align: center;
  margin: 0 5px 5px 0;
  background: #fff;
  color: #333;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.model .model-wrapper .remove-people-inner .name-block label:hover {
  border-color: #adadad;
  background: #ebebeb;
  cursor: pointer;
}
.model .model-wrapper .remove-people-inner .name-block input[type="checkbox"]:checked + label {
  order: 0;
  background-color: #428bca;
  border-color: #357ebd;
  color: #fff;
}
.model .model-wrapper .remove-people-inner .name-block input[type="checkbox"]:checked + label:hover {
  background-color: #3071a9;
  border-color: #285e8e;
}
.model .model-wrapper .edit-profile-inner {
  padding: 20px;
}
.model .model-wrapper .edit-profile-inner h4 {
  padding: 10px;
  background: #6FA9DA;
  color: white;
  border-radius: 8px;
  width: 50%;
  margin: 10px auto 0 auto;
}
.model .model-wrapper .edit-profile-inner table {
  width: 100%;
}
.model .model-wrapper .edit-profile-inner table input, .model .model-wrapper .edit-profile-inner table select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 8px;
  outline: none;
  border: 1px solid #d9d9d9;
  -webkit-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  transition: border-color 0.3s;
  padding: 4px 8px;
  height: 30px;
}
.model .model-wrapper .edit-profile-inner table input:focus, .model .model-wrapper .edit-profile-inner table select:focus {
  border-color: #a6a6a6;
}
.model .model-wrapper .edit-profile-inner table label {
  font-size: 16px;
}
.model .model-wrapper .edit-profile-inner table tr td {
  padding: 4px 5px;
}
.model .model-wrapper .edit-profile-inner table tr td:first-child {
  text-align: right;
  width: 33%;
}
.model .model-wrapper .edit-profile-inner table tr td:first-child:after {
  content: ': ';
}
.model .model-wrapper .edit-profile-inner table tr td:last-child {
  text-align: left;
  width: 50%;
}

.people-inner .head-block {
  position: relative;
  padding: 20px;
}
.people-inner .head-block .title-block {
  *zoom: 1;
}
.people-inner .head-block .title-block:before, .people-inner .head-block .title-block:after {
  display: table;
  content: " ";
}
.people-inner .head-block .title-block:after {
  clear: both;
}
.people-inner .head-block .title-block .head-title {
  float: left;
  font-weight: normal;
  margin: 0;
}
.people-inner .head-block .title-block .add-people {
  float: right;
  cursor: pointer;
  outline-width: 0;
  border-width: 0;
  padding: 9px;
  margin: 5px;
  color: #fff;
  background-color: #7cd79c;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.people-inner .head-block .title-block .add-people:hover {
  background-color: #68d18d;
}
.people-inner .head-block .title-block .remove-people, .people-inner .head-block .title-block .exit-group, .people-inner .head-block .title-block .remove-group {
  float: right;
  cursor: pointer;
  outline-width: 0;
  border-width: 0;
  padding: 9px;
  margin: 5px;
  color: #fff;
  background-color: #f19a92;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.people-inner .head-block .title-block .remove-people:hover, .people-inner .head-block .title-block .exit-group:hover, .people-inner .head-block .title-block .remove-group:hover {
  background-color: #ee857b;
}
.people-inner .head-block .hr {
  margin: 15px 0;
  border: 0px;
  border-top: 1px solid #ccc;
}
.people-inner .main {
  padding: 0 20px;
}
.people-inner .main .icon-inform {
  text-align: right;
  position: relative;
  top: -10px;
}
.people-inner .main .icon-inform > span {
  margin-left: 10px;
}
.people-inner .main .icon-inform > span.user .fa {
  color: #55cb7e;
}
.people-inner .main .icon-inform > span.admin .fa {
  color: #5eb1ff;
}
.people-inner .main .icon-inform > span.edit .fa {
  color: #888;
}
.people-inner .main table {
  width: 100%;
  text-align: left;
  border-spacing: 0;
  border-collapse: collapse;
}
.people-inner .main table tr:hover {
  background-color: #f8f8f8;
  cursor: pointer;
}
.people-inner .main table tr:first-child {
  cursor: auto;
}
.people-inner .main table th:first-child {
  -moz-border-radius: 8px 0 0 0;
  -webkit-border-radius: 8px;
  border-radius: 8px 0 0 0;
  border-left-width: 0;
  padding-left: 11px;
}
.people-inner .main table th:last-child {
  -moz-border-radius: 0 8px 0 0;
  -webkit-border-radius: 0;
  border-radius: 0 8px 0 0;
  border-right-width: 0;
  padding-right: 11px;
}
.people-inner .main table th {
  padding: 11px 10px;
  border-left: 1px solid #667686;
  border-right: 1px solid #667686;
  background-color: #667686;
  color: white;
}
.people-inner .main table td {
  padding: 10px;
  border: 1px solid #ddd;
}
.people-inner .main table .self {
  color: #55cb7e;
}
.people-inner .main table .creater {
  color: #5eb1ff;
}
.people-inner .main table .self, .people-inner .main table .creater, .people-inner .main table .edit {
  width: 19px;
  text-align: center;
}
.people-inner .main table .email a {
  color: #0061bc;
}
.people-inner .main table .email a:hover {
  color: #56adff;
}
.people-inner .main table .edit {
  color: #888;
}
.people-inner .main table .edit:hover {
  cursor: pointer;
  color: #000;
}

.account-page .joingroup-inner {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  width: 400px;
  padding: 20px;
  margin: 20px auto;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
}
.account-page .join-alert, .account-page .groupname, .account-page .joingroup {
  width: 444px !important;
}
.account-page .joingroup {
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  background-color: #428bca;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}
.account-page .joingroup:hover {
  background-color: #3071a9;
}
.account-page .alert {
  *zoom: 1;
  margin: 20px auto;
  padding: 8px 12px;
  border: 0;
  display: none;
}
.account-page .alert:before, .account-page .alert:after {
  display: table;
  content: " ";
}
.account-page .alert:after {
  clear: both;
}
.account-page .alert.success {
  background: #dff0d8;
}
.account-page .alert.error {
  background: #f9f2f4;
}
.account-page .alert .close {
  float: right;
  cursor: pointer;
}
