extend model_layout

block content
  .add-task-inner(data-tid=tid)
    h3 任务名称
    input.name(id='title', type='text', placeholder='任务列表名称')
    h3 任务描述
    input.content(id='content', type='text', placeholder='任务列表描述')
    h3 添加附件
    .file-box
      .file-label-box
      .file-control-box
        input(id='file', type='file')
        label.file(for='file')
          i.fa.fa-plus-circle
          span &nbsp;添加附件