extend model_layout

block content
  .create-task-list-inner(data-tid='#{tid}')
    h3 任务列表名称
    input.name(id='title', type='text', placeholder='任务列表名称', value='#{name}')
    h3 任务列表描述
    input.content(id='content', type='text', placeholder='任务列表描述', value='#{content}')
    h3 截止日期
    input.date(id='expected_time', type='text', placeholder='1990/01/01 12:00', value='#{time}')