extend model_layout

block content
  .add-comment-list-inner
    h3 讨论主题
    input.name(id='title', type='text', placeholder='讨论主题', value='#{content}')
    h3 介绍
    textarea.description(id='description', placeholder='介绍此次讨论的概要') #{description}