extend model_layout

block content
  .remove-people-inner
    if data.length == 0
      h3.title 你没有可移除的组员
    else
      h3.title 请选择你要移除的组员
      .name-block
        each user, index in data
          input(type='checkbox', data-uid='#{func.sha1(user.uid.toString())}', id='q#{index}')
          label(for='q#{index}') #{user.name}
        hr