body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:860px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:100px;
  width:200px;
  height:600px;
  color:#999999;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:600px;
}
#u1 {
  position:absolute;
  left:2px;
  top:292px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:144px;
  width:200px;
  height:26px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
}
#u3 {
  position:absolute;
  left:2px;
  top:5px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:39px;
  top:110px;
  width:68px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:39px;
  top:150px;
  width:40px;
  height:16px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:39px;
  top:176px;
  width:53px;
  height:16px;
  color:#0066FF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:39px;
  top:202px;
  width:53px;
  height:16px;
  color:#0066FF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:139px;
  top:150px;
  width:30px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u13 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:139px;
  top:176px;
  width:30px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u15 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:139px;
  top:202px;
  width:30px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u17 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:100px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:100px;
}
#u19 {
  position:absolute;
  left:2px;
  top:42px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:-40px;
  top:0px;
  width:940px;
  height:30px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:20px;
  top:40px;
  width:140px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:33px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:530px;
  top:52px;
  width:200px;
  height:30px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u25 {
  position:absolute;
  left:531px;
  top:53px;
  width:30px;
  height:26px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:26px;
}
#u26 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:23px;
  top:7px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:452px;
  top:0px;
  width:68px;
  height:33px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:33px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:80px;
  top:8px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:132px;
  top:8px;
  width:40px;
  height:16px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:188px;
  top:8px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:269px;
  top:8px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:322px;
  top:8px;
  width:40px;
  height:16px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:10px;
  top:110px;
  width:26px;
  height:23px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u42 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:128px;
  top:110px;
  width:27px;
  height:16px;
  color:#0066FF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:229px;
  top:240px;
  width:639px;
  height:460px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:460px;
}
#u46 {
  position:absolute;
  left:2px;
  top:222px;
  width:635px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:258px;
  top:247px;
  width:600px;
  height:13px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:13px;
}
#u48 {
  position:absolute;
  left:2px;
  top:-2px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:328px;
  top:199px;
  width:152px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:229px;
  top:123px;
  width:77px;
  height:107px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:107px;
}
#u52 {
  position:absolute;
  left:2px;
  top:46px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:328px;
  top:139px;
  width:123px;
  height:28px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:28px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:328px;
  top:173px;
  width:143px;
  height:16px;
  color:#999999;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:730px;
  top:140px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:258px;
  top:276px;
  width:470px;
  height:394px;
  font-size:16px;
  line-height:28px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:394px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:740px;
  top:34px;
  width:57px;
  height:58px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:58px;
}
#u62 {
  position:absolute;
  left:2px;
  top:21px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:827px;
  top:7px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:804px;
  top:40px;
  width:45px;
  height:49px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:49px;
}
#u66 {
  position:absolute;
  left:2px;
  top:16px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:764px;
  top:8px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:382px;
  top:8px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:460px;
  top:8px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
